 <div class="border-bottom  mb-3 row" style="padding-bottom:4px;">
   <div class="col-9">
         <h4 
           style="color:rgb(127, 132, 135); margin-bottom:2px;  "> {{job['title']}}
         </h4>
          <div>
            <b>Location:</b> {{job['location']}}
          </div>
          {% if 'salary' in job%}
    
          <div>
            <b>Salary:</b> {{job['salary']}}
          </div>
          {%endif%} 
   </div>
   <div class="col-3">
          <button type="button" class="btn btn-outline-primary">Apply</button>
   </div>
        </div>